<% content_for(:page_title, "Obrigado!") %>

  <div class="feedback-page_content">
    <%= partial "partials/navbar", locals: { white: true } %>

    <div class="feedback-page_content_box">
      <h1 class="feedback-page_content_h1">Obrigado!</h1>
      <div class="feedback-page_content_subtitle">Sua mensagem foi enviada com sucesso!</div>
    </div>
  </div>

  <%= partial "partials/footer" %>