<% content_for(:page_title, "Políticas de Privacidade e Termos de Uso") %>

  <%= partial "partials/navbar", locals: { white: true } %>

  <div class="terms-page">
    <div class="container">
      <div class="terms-page_section">
        <h2 class="terms-page_section_title">POLÍTICA DE PRIVACIDADE</h2>
        <div class="terms-page_section_item">
          <div class="terms-page_section_item_title">Informações do Usuário</div>
          <p class="terms-page_section_item_p">– É importante coletarmos algumas informações dos usuários de nossos serviços para que possamos oferecer um site melhor e mais direcionado às suas preferências. Também precisamos informá-los sobre novidades e informações relevantes. Por isso, leia atentamente esta política e nossos termos de uso.<br><br>– Garantimos que quaisquer das informações pessoais dos usuários não serão fornecidas, publicadas ou comercializadas em quaisquer circunstâncias. Estas informações estão seguras conosco. Exceto em casos de participação do próprio usuário em algum comentário ou postagem. Neste caso, o nome, email e depoimento poderão ser publicados, conforme nossos termos de uso.</p>
        </div>
        <div class="terms-page_section_item">
          <div class="terms-page_section_item_title">Cadastro</div>
          <p class="terms-page_section_item_p">– Nós nunca enviamos e-mails solicitando confirmação de dados/cadastro ou com anexos executáveis e links para download.<br>‍<br>– Para usufruir dos benefícios adicionais do website e receber o email com informações sobre nossos serviços, você precisa se cadastrar em algum de nossos formulários de opt-in. Este cadastro é armazenado em um banco de dados protegido e sigiloso.<br>‍<br>– Caso não queira receber mais nossos informativos, basta clicar no link de cancelamento que há no rodapé de cada mensagem ou nos avisar através de e-mail. Nós nunca enviamos spams.</p>
        </div>
        <div class="terms-page_section_item">
          <div class="terms-page_section_item_title">Cookies</div>
          <p class="terms-page_section_item_p">– Podemos utilizar a tecnologia de cookies para melhorar a experiência do usuário. Isso auxilia na identificação do seu IP fixo, facilitando a navegação e customizando a navegação. Você pode bloquear qualquer uso de cookies diretamente no seu navegador.</p>
        </div>
        <div class="terms-page_section_item">
          <div class="terms-page_section_item_title">Compartilhamento de Informações</div>
          <p class="terms-page_section_item_p">– Para fins de segurança, as informações poderão ser compartilhadas quando houver requerimento de autoridades judiciais ou governamentais competentes para fins de investigações pessoais conduzidas por elas, até mesmo que não exista uma ordem judicial, por exemplo quando tratar-se de investigação de caráter penal ou a violação de direitos do autor, ressalvadas todas as hipóteses de sigilo de informações determinadas por leis em vigor, ou ainda, comunicar informações quando houver motivos suficientes para considerar que a atividade de um usuário seja suspeita de tentar ou de até mesmo cometer um delito ou tentar prejudicar outras pessoas.<br>‍<br>– Possuímos links de acesso para outros websites e que não estão cobertos por esta política. Assim, verifique sempre a política de privacidade desses sites, tendo em vista que suas informações serão administradas de acordo com a política de cada um deles e que podem diferenciar das nossas.<br>‍<br>– Em caso de dúvidas o usuário poderá entrar em contato pelo email comercial@ckarquitetura.com<br>‍<br>– Reservamo-nos o direito de alterar a política a qualquer momento.</p>
        </div>
      </div>
      <div class="terms-page_section">
        <h2 class="terms-page_section_title">TERMOS DE USO E SERVIÇO</h2>
        <p class="terms-page_section_intro">ESTES TERMOS DE SERVIÇO REGULAM O USO DESTE SITE. AO ACESSÁ-LO VOCÊ CONCORDA COM TODOS ESTES TERMOS, POR FAVOR, CONSULTE REGULARMENTE OS NOSSOS TERMOS DE SERVIÇO.</p>
        <div class="terms-page_section_item">
          <div class="terms-page_section_item_title light-title">Acesso ao site</div>
          <p class="terms-page_section_item_p">Para acessar o conteúdo deste site poder ser solicitado ao usuário algumas informações pessoais como nome, e-mail e outros. Se acharmos que as informações não são corretas ou verdadeiras, temos o direito de recusar ou cancelar o acesso a qualquer tempo, sem notificação prévia.</p>
        </div>
        <div class="terms-page_section_item">
          <div class="terms-page_section_item_title light-title">Restrições ao uso</div>
          <p class="terms-page_section_item_p">Você só poderá usar este site para propósitos permitidos por nós. Você não poderá usá-lo em qualquer outro objetivo, até mesmo comercial, sem o nosso consentimento prévio. Não associe nossas marcas a nenhuma outra. Não exponha nosso nome, logotipo, logomarca entre outros, indevidamente e de forma a causar confusão.</p>
        </div>
        <div class="terms-page_section_item">
          <div class="terms-page_section_item_title light-title">Propriedade da informação</div>
          <p class="terms-page_section_item_p">O conteúdo do site não pode ser copiado, distribuído, publicado, carregado, postado ou transmitido por qualquer outro meio sem o nosso consentimento prévio, a não ser que a finalidade seja apenas a divulgação.</p>
        </div>
        <div class="terms-page_section_item">
          <div class="terms-page_section_item_title light-title">Hyperlinks</div>
          <p class="terms-page_section_item_p">Este site pode conter links para outros websites que não são mantidos ou relacionados à nossa empresa. Então não somos responsáveis pelo conteúdo destes links. O usuário assume completamente o risco ao acessar estes hyperlinks.</p>
        </div>
        <div class="terms-page_section_item">
          <div class="terms-page_section_item_title light-title">Comentários</div>
          <p class="terms-page_section_item_p">Ao postar algum comentário ou até depoimento em nosso site você autoriza a publicação do mesmo em qualquer lugar que desejarmos, a fim de cooperar com a divulgação de nossos produtos.</p>
        </div>
        <div class="terms-page_section_item">
          <div class="terms-page_section_item_title light-title">Aviso legal</div>
          <p class="terms-page_section_item_p">A informação obtida ao usar este site não é completa e não cobre as questões, tópicos ou fatos que possam ser relevantes para seus objetivos. O uso deste site é de sua total responsabilidade. O conteúdo é oferecido como está e sem garantias de qualquer tipo, expressas ou implícitas. O conteúdo deste website não é palavra final sobre qualquer assunto, e podemos fazer melhorias a qualquer momento.<br><br>Você, e não a nossa empresa, assume o custo de qualquer serviço, reparo ou correção necessários no caso de qualquer perda ou dano consequente do uso deste site ou seu conteúdo. Você entende que a nossa empresa não pode e não garante que os arquivos disponíveis para download da Internet estejam livres de vírus, worms, cavalos de Tróia ou outro código que possa manifestar propriedades contaminadoras ou destrutivas.</p>
        </div>
        <div class="terms-page_section_item">
          <div class="terms-page_section_item_title light-title">Limitação de responsabilidade</div>
          <p class="terms-page_section_item_p">A EMPRESA, AFILIADOS, LICENCIANTES, PROVEDORES DE SERVIÇO, PROVEDORES DE CONTEÚDO, EMPREGADOS, AGENTES, ADMINISTRADORES E DIRETORES NÃO SERÃO RESPONSÁVEIS POR QUALQUER DANO EVENTUAL, DIRETO, INDIRETO, REAL, CONSEQUENTE, ESPECIAL, EXEMPLAR OU DE QUALQUER OUTRO TIPO, INCLUINDO PERDA DE RECEITA OU RENDA, DOR E SOFRIMENTO OU ESTRESSE EMOCIONAL MESMO QUE A EMPRESA TENHA ACONSELHADO SOBRE A POSSIBILIDADE DE TAIS DANOS. DE NENHUMA FORMA A RESPONSABILDIADE COLETIVA DA EMPRESA E SUAS FILIAIS, AFILIADOS, LICENCIANTES, PROVEDORES DE SERVIÇO, PROVEDORES DE CONTEÚDO, EMPREGADOS, AGENTES, ADMINISTRADORES E DIRETORES EM RELAÇÃO A TERCEIROS EXCEDERÁ A QUANTIA DE R$100 OU O VALOR PAGO À EMPRESA POR TAL CONTEÚDO, PRODUTO OU SERVIÇO DO QUAL A QUESTÃO TENHA SIDO LEVANTADA.</p>
        </div>
        <div class="terms-page_section_item">
          <div class="terms-page_section_item_title light-title">Indenização</div>
          <p class="terms-page_section_item_p">Você vai indenizar e isentar a Empresa, afiliados, licenciantes, provedores de serviço, provedores de conteúdo, empregados, agentes, administradores e até diretores de qualquer violação desse Termo de Uso por você, incluindo o uso de qualquer dos conteúdo diferente do expresso aqui. Você concorda que as Partes Isentas não têm responsabilidade ou conexão com qualquer violação ou uso não autorizado e você concorda em remediar toda e qualquer perda, dano, julgamento, prêmios, custo, despesas e honorários advogatícios das Partes Isentas ligadas a violação. Você também indenizará e isentará as Partes Isentas de qualquer reivindicação de terceiros resultante do uso da informação contida neste site.</p>
        </div>
        <div class="terms-page_section_item">
          <div class="terms-page_section_item_title light-title">Marcas registradas</div>
          <p class="terms-page_section_item_p">Marcas e imagens presentes neste site são de propriedade da empresa ou da parte que as disponibilizaram para a empresa, a empresa e as partes que disponibilizaram marca e logo detém todos os direitos sobre as mesmas.</p>
        </div>
        <div class="terms-page_section_item">
          <div class="terms-page_section_item_title light-title">Segurança</div>
          <p class="terms-page_section_item_p">Toda senha usada para este site é somente para uso individual. Você é responsável pela segurança de sua senha. A Empresa tem o direito de monitorar a segurança de sua senha e ao seu critério pode pedir que você a mude. Se você usar qualquer senha que a Empresa considere insegura, a Empresa tem o direito de requisitar que a senha seja modificada ou cancelar a sua conta.<br>‍<br>É proibido usar qualquer serviço ou ferramenta conectada a este site para comprometer a segurança com os recursos do nosso sistema ou contas. O uso ou distribuição de ferramentas destinadas para comprometer a segurança são estritamente proibidos.<br><br>Se você estiver envolvido em qualquer violação da segurança do sistema, a Empresa se reserva o direito de fornecer suas informações para os administradores de sistema de outros sites para ajudá-los a resolver incidentes de segurança. A Empresa se reserva o direito de investigar potenciais violações a esse Termo de Uso.<br><br>A Empresa se reserva o direito de cooperar totalmente com as autoridades competentes ou pedidos da justiça para que se revele a identidade de qualquer pessoa que publique email, mensagem ou disponibilize qualquer material que possa violar esse Termo de Uso.<br><br>AO ACEITAR ESSE ACORDO VOCÊ ISENTA A EMPRESA DE QUALQUER CONSEQUÊNCIA RESULTANTE DE AÇAO DURANTE E/OU COMO RESULTADO DE SUAS INVESTIGAÇÕES OU DE AÇÕES TOMADAS RESULTANTES DE INVESTIGAÇÕES TANTO DA NOSSA EMPRESA QUANTO DAS AUTORIDADES DE JUSTIÇA COMPETENTES.</p>
        </div>
      </div>
    </div>
  </div>

  <%= partial "partials/footer" %>