<div class="navbar_menu-mobile">
  <div class="navbar_menu-mobile_header"><img src="/images/ck-simbolo.svg" width="47" alt="" class="navbar_menu-mobile_header_logo"><a data-w-id="73aa123e-e610-9fb3-01b0-f727e5779a58" href="#" class="navbar_menu-mobile_header_close w-inline-block"><img src="/images/close-icon.svg" width="24" alt=""></a></div>
  <div class="navbar_menu-mobile_links">
    <div class="navbar_menu-mobile_links_dropdown">
      <div data-w-id="73aa123e-e610-9fb3-01b0-f727e5779a5c" class="navbar_menu-mobile_links_dropdown_trigger"><a href="#" class="navbar_menu-mobile_links_item trigger-dropdown">Empreendimentos</a><img src="/images/dropdown-arrow.svg" width="18" alt="" class="navbar_menu-mobile_links_dropdown_trigger_icon"></div>
      <div class="navbar_menu-mobile_links_dropdown_menu"><a href="/pagina-empreendimento" class="navbar_menu-mobile_links_item dropdown">Casa Serena</a><a href="/pagina-empreendimento" class="navbar_menu-mobile_links_item dropdown">Casa Serena</a><a href="/pagina-empreendimento" class="navbar_menu-mobile_links_item dropdown">Casa Serena</a></div>
    </div><a href="/institucional" class="navbar_menu-mobile_links_item">A CK Arquitetura</a><a href="/corretor" class="navbar_menu-mobile_links_item">Corretores</a><a href="/contato" class="navbar_menu-mobile_links_item w--current">Contato</a></div>
</div>
